* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn-primary {
    background: #ff7a18;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: #ff9a44;
}

/* BENEFICIOS */
.beneficios {
    padding: 80px 20px;
    text-align: center;
    background: #f4f7fb;
}

.beneficios h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* FORM */
.form-section {
    padding: 80px 20px;
    text-align: center;
}

.form-section h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 900px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #1e3c72;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        height: 1000px;
    }
}
/* ===== CARRUSEL ===== */
.galeria{
    padding:70px 20px;
    background:#ffffff;
    text-align:center;
}

.galeria h2{
    font-size:2rem;
    margin-bottom:40px;
}

.carousel{
    position:relative;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

.carousel-track{
    display:flex;
    transition:transform .6s ease;
}

.carousel-track img{
    width:100%;
    max-width:1000px;
    height:450px;
    object-fit:cover;
    border-radius:14px;
    flex-shrink:0;
    padding:0 10px;
}

/* botones */
.carousel button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(0,0,0,0.5);
    border:none;
    color:white;
    font-size:30px;
    padding:10px 15px;
    cursor:pointer;
    border-radius:50%;
    z-index:10;
    transition:.3s;
}

.carousel button:hover{
    background:#f39c12;
}

.prev{left:10px;}
.next{right:10px;}

/* responsive */
@media(max-width:768px){
    .carousel-track img{
        height:250px;
    }
}
